span{
    color: red;
    font-size: 12px;
}

ion-content {
    --background: #FAF78F;

    #submeter {
        margin-top: 30px;
        --border-radius: 50px;
        text-align: center;
        margin-bottom: 20px;;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right:50px;
    }
}

ion-toolbar {
    --border-width: 0 !important;
    height: 60px;
    display: flex;
    align-items: center;
    
    ion-title {
      font-size: 20px;
      text-align: center;
    }

    ion-button {
        border-radius: 50px;
        box-shadow: transparent;
    }
}

ion-list{
    margin-bottom: 30px;

    ion-item{
       align-items: center;

       ion-label {
        display: flex;
        align-items: center;
       }

        ion-icon {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
    
    ion-input{
        border-bottom: solid 1px #8B4513;       
        margin: 20px 0;            
    }
}