<ion-header>
  <ion-toolbar>
    <ion-button color="primary" fill="clear" (click)="_operacoes.voltar('/home')">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Cadastrar receita</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="_formCadastrar" (ngSubmit)="submitForm()" novalidade>
    <ion-card>
      <ion-card-content>

        <ion-list>
          <ion-item lines="none">
            <ion-label position="floating">
              <ion-icon name="restaurant-outline"></ion-icon>
              Nome da Receita
            </ion-label>

            <ion-input type="text" formControlName="nomeReceita"></ion-input>
          </ion-item>

          <ion-radio-group color="secondary" formControlName="dieta">

            <ion-list-header>
              <h2><b>A receita é:</b></h2>
            </ion-list-header>

            <ion-item lines="none">
              <ion-label>Vegana</ion-label>
              <ion-radio slot="start" value=1></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Vegetariana</ion-label>
              <ion-radio slot="start" value=2></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Irrestrita</ion-label>
              <ion-radio slot="start" value=3></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="none">
            <ion-label>
              <ion-icon name="stopwatch-outline"></ion-icon>
              Tempo de preparo:
            </ion-label>

            <ion-datetime 
            formControlName="tempoPreparo" 
              displayFormat="HH:mm:ss" 
              min="00:05:00" 
              max="72:00:00"
            ></ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label>
              Rendimento:
            </ion-label>

            <ion-input id="rendimento" type="number" formControlName="rendimento"></ion-input>
            <ion-label>
              porções.
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label id="ingrediente">
              <b>INGREDIENTES</b>
            </ion-label>
          </ion-item>

          <form [formGroup]="_formCadastrarIngrediente" (ngSubmit)="submitFormIngrediente()" novalidate>
            <ion-item lines="none">

              <ion-input id="quantidade" placeholder="Quantidade" type="text" formControlName="quantidade" clearInput>
              </ion-input>

              <ion-select formControlName="unidadeMedida" clearInput>
                <ion-select-option value="colher(es) de sopa">
                  Colher(es) de sopa
                </ion-select-option>

                <ion-select-option value="colher(es) de cha">
                  Colher(es) de chá
                </ion-select-option>

                <ion-select-option value="colher(es) de cafe">
                  Colher(es) de café
                </ion-select-option>

                <ion-select-option value="colher(es) de sobremesa">
                  Colher(es) de sobremesa
                </ion-select-option>

                <ion-select-option value="xícara(s)">
                  Xícara(s)
                </ion-select-option>

                <ion-select-option value="ml">
                  Ml(s)
                </ion-select-option>

                <ion-select-option value="g">
                  Grama(s)
                </ion-select-option>

                <ion-select-option value="kg">
                  Quilo(s)
                </ion-select-option>

                <ion-select-option value="pitada(s)">
                  Pitada(s)
                </ion-select-option>

                <ion-select-option value="unidade(s)">
                  Unidade(s)
                </ion-select-option>

                <ion-select-option value="litro(s)">
                  Litro(s)
                </ion-select-option>

                <ion-select-option value="lata(s)">
                  Lata(s)
                </ion-select-option>
              </ion-select>

            </ion-item>
          

            <ion-item lines="none">
              <ion-input id="nomeIngrediente" placeholder="Nome ingrediente" type="text" formControlName="nomeIngrediente" clearInput></ion-input>
            </ion-item>

            <ion-button color="primary" expand="block" type="submit">
              Incluir ingrediente
            </ion-button>
          </form>

          <ion-item lines="none">
            <ion-label>
              <ion-icon name="albums-outline"></ion-icon>
              Modo de preparo:
              
            </ion-label>
          </ion-item>

          <ion-textarea id="modoPreparo" rows='10' cols='1' formControlName="modoPreparo"></ion-textarea>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button id="salvar" color="primary" expand="block" type="submit">
      Salvar
    </ion-button>
  </form>

</ion-content>