<ion-header>
  <ion-toolbar>
    <ion-button color="primary" fill="clear" (click)="_operacoes.voltar('/editar')">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Editar Ingrediente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="_formEditarIngrediente" (ngSubmit)="submitForm()" novalidade>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Habilitar Edição</ion-label>
          <ion-toggle (ionChange)="alterarEdicao()" color="primary"></ion-toggle>
        </ion-item>

        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <b id="ingrediente">INGREDIENTES</b>
            </ion-label>
          </ion-item>

          <ion-item>   
          
            <ion-input id="quantidade" [disabled]="_editar" placeholder="Quantidade" type="text" formControlName="quantidade"></ion-input>
            
            <span *ngIf = "_isSubmitted && errorControl.quantidade.errors?.required">
              *Quantidade é obrigatória!
            </span>

            <ion-select [disabled]="_editar" formControlName="unidadeMedida">
              <ion-select-option value="colher(es) de sopa">
                Colher(es) de sopa
              </ion-select-option>
        
              <ion-select-option value="colher(es) de chá">
                Colher(es) de chá
              </ion-select-option>
        
              <ion-select-option value="colher(es) de cafe">
                Colher(es) de café
              </ion-select-option>
        
              <ion-select-option value="colher(es) de sobremesa">
                Colher(es) de sobremesa
              </ion-select-option>
        
              <ion-select-option value="xícara(s)">
                Xícara(s)
              </ion-select-option>
        
              <ion-select-option value="ml(s)">
                Ml(s)
              </ion-select-option>
        
              <ion-select-option value="g">
                Grama(s)
              </ion-select-option>
        
              <ion-select-option value="kg">
                Quilo(s)
              </ion-select-option>
        
              <ion-select-option value="pitada(s)">
                Pitada(s)
              </ion-select-option>
        
              <ion-select-option value="unidade(s)">
                Unidade(s)
              </ion-select-option>
    
              <ion-select-option value="litro(s)">
                Litro(s)
              </ion-select-option>
    
              <ion-select-option value="lata(s)">
                Lata(s)
              </ion-select-option>
            </ion-select>

            <span *ngIf = "_isSubmitted && errorControl.unidadeMedida.errors?.required">
              *Unidade de medida é obrigatório!
            </span>

          </ion-item>

          <ion-item lines="none">
            <ion-input [disabled]="_editar" id="nomeIngrediente" placeholder="Nome ingrediente" type="text" formControlName="nomeIngrediente"></ion-input>
            
            <span *ngIf = "_isSubmitted && errorControl.nomeIngrediente.errors?.required">
              *Nome do ingrediente é obrigatório!
            </span>
          </ion-item>
              
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button id="salvarEdicaoIngrediente" color="primary" expand="block" type="submit">
      Salvar
    </ion-button>
  </form>
</ion-content>