<ion-header>
  <ion-toolbar>
    <ion-button color="primary" fill="clear" (click)="_operacoes.voltar('/home')">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-title>
      {{ receita.nomeReceita }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item-group>
      <ion-label>
        <b>Dieta:</b>
      </ion-label>
  
      <ion-item lines=none *ngIf="receita.dieta === '1'">Vegana</ion-item>
      <ion-item lines=none *ngIf="receita.dieta === '2'">Vegetariana</ion-item>
      <ion-item lines=none *ngIf="receita.dieta === '3'">Irrestrita</ion-item>
    
  
      <ion-label>
        <b>Tempo de preparo:</b>
      </ion-label>
  
      <ion-item lines="none">
        {{ receita.tempoPreparo }}
      </ion-item>
      
  
      <ion-label>
        <b>Rendimento:</b>
      </ion-label>
  
      <ion-item lines="none">
        {{ receita.rendimento }} porções.
      </ion-item>
      
  
      <ion-label>
        <b>Ingredientes:</b>
      </ion-label>
  
      <ion-list>
        <ion-item-group *ngFor="let ingrediente of receita._ingredientes">
          <ion-item lines="none">
            {{ ingrediente.quantidade }} 
            {{ ingrediente.unidadeMedida }}
            de
            {{ ingrediente.nomeIngrediente }}
          </ion-item>
        </ion-item-group>
      </ion-list>
      
      <ion-label>
        <b>Modo de preparo:</b>
      </ion-label>
  
      <ion-item lines="none">
        {{ receita.modoPreparo }}
      </ion-item>

      <ion-item id="imagem" lines="none">
        <img src="{{ receita.imagem }}" alt="">
      </ion-item>
    </ion-item-group>   
  </ion-card>
</ion-content>