<ion-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img style="width: 200px; height: 180px; margin:auto;" src="/assets/logo.png"></ion-img>

    <form [formGroup]="_formLogar" (ngSubmit)="submitForm()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>
            E-mail
          </ion-label>

          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <span *ngIf="_isSubmitted && errorControl.email.errors?.required">
          *Preencher o email é obrigatório!
        </span>
        <span *ngIf="_isSubmitted && errorControl.email.errors?.email">
          *Formato de email inválido!
        </span>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="key-outline"></ion-icon>
            Senha
          </ion-label>

          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <span *ngIf="_isSubmitted && errorControl.senha.errors?.required">
          *Preencher a senha é obrigatório!
        </span>
        <span *ngIf="_isSubmitted && errorControl.senha.errors?.minLength">
          *A senha é de no mínimo 6 caracteres!
        </span>

        <ion-button id="entrar" color="primary" expand="full" type="submit">
          Entrar

        </ion-button>

        <ion-button color="primary" (click)="_signInGoogle()">

          <ion-icon name="logo-google"></ion-icon>
        </ion-button>

        <ion-button color="primary" (click)="_signInFacebook()">

          <ion-icon  name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button color="primary" (click)="_signInTwitter()">

          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-list> 
    </form>

    <a (click)="irParaSignUp()"><u>Criar nova conta</u></a>
  </ion-card>
</ion-content>